<app-home-dashboard></app-home-dashboard>
    <body>
        
  
    <form [formGroup]="userForm" class="login-form" (ngSubmit)="onSubmit()" >
        <br>
        <div [hidden]="!disable">
        <div  >
            <label for="title">Title</label>
            <select   name="title"  formControlName = "title">
                <option value="Mr">Mr.</option>
                <option value="Ms">Ms.</option>
            </select>
        </div>
        <br>
        <div  class="txtb">
            <label for="firstName">First Name</label>
            <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="First Name"/>
        </div>
        <br>
        <div  class="txtb">
            <label for="lastName">Last Name</label>
            <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name"/>
        </div>
        <br>
   
        <div  class="txtb">
            <label for="email">Email</label>
            <input formControlName="email" type="email" class="form-control" id="economicSeats" placeholder="Email"/>
        </div>
        <br>
        <div  class="txtb">
            <label for="password">password</label>
            <input formControlName="password" type="password" class="form-control"  placeholder="password"/>
        </div>
        <br>
        <div  class="txtb">
            <label for="password">Confirm password</label>
            <input formControlName="confirmPassword" type="password"  placeholder="password"/>
        </div>
        <br>
        <div  class="txtb">
            <label for="phoneNumber">Phone Number</label>
            <input formControlName="phoneNumber" type="number" class="form-control" id="economyCost" placeholder="Contact Number"/>
        </div>
        <br>
        <div class="txtb">
            <label for="dob">Date Of Birth</label>
            <input formControlName="dob" type="date" class="form-control" id="businessCost" placeholder="Date of birth"/>
        </div>

        <br>
       <div [hidden]="!disable"> <button class="logbtn" type="submit">SUBMIT</button></div>
       
    </div>

    <div > <button [hidden]="disable" class="logbtn" (click) = " goBack()">LOGIN</button></div>
    </form>

    
</body>
 








